@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-family: "Courier New", monospace;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
}

@layer base {
  html {
    font-family: "Courier New", monospace;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
